// TODO: trim these font imports
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto+Mono&family=Ubuntu&display=swap');

/* lines inside a rule should be ordered as such: */
    /* Positioning */
    /* Display & Box Model */
    /* Border */
    /* Color */
    /* Text */
    /* Other */

//todo: do a final color pass
$main-text-color: rgba(0, 0, 0, 90%);
$left-most: rgb(255, 222, 255);
$left-most-light: rgb(255, 240, 255);
$left-most-dark: rgb(221, 135, 221);
$left-center: rgb(222, 255, 222);
$left-center-light: rgb(240, 255, 240);
$left-center-dark: rgb(128, 207, 128);
$right-center: rgb(175, 235, 235);
$right-center-light: rgb(225, 255, 255);
$right-center-dark: rgb(113, 199, 199);
/* ideally, when transparent buttons are hovered over,
   they will take on a color relative to their previous color.
   i'll need to script this. for now, they get a placeholder color.
*/
$placeholder-color: white;

$border-width: 4px;
$border-width-small: 2px;
$border-radius: 20px;

$main-font: "Crete Round", serif;
$ui-size: 40px;


@mixin halfwidth-menu {
    min-height: 100%;
    min-width: 50%;
    max-width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: $left-center;
    color: $main-text-color;
    font: 16px $main-font;
}

.my-monsters {
    position: fixed;
    right: 0;
    height: 100%;
    width: 96vw;
    display: flex;
    align-items: stretch;
}

.my-monsters-main {
    @include halfwidth-menu();
    background-color: $left-center;
    scrollbar-color: $left-center-dark $left-center-light;
    &::-webkit-scrollbar {
        background-color: $left-center-light;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $left-center-dark;
    }
}

.my-monsters-aux {
    @include halfwidth-menu();
    background-color: $right-center;
    scrollbar-color: $right-center-dark $right-center-light;
    &::-webkit-scrollbar {
        background-color: $right-center-light;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $right-center-dark;
    }
}

.side-menu {
    position: fixed;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    border: solid $left-most-dark;
    border-width: $border-width $border-width $border-width 0;
    border-radius: 0 $border-radius $border-radius 0;
    background-color: $left-most;

    transition-property: width;
    transition-duration: 200ms;

    button {
        position: absolute;
        top: 45%;
        right: 0;
        padding: 50px 10px;
        border: none;
        /*
        border: inherit;
        border-width: $border-width-small 0 $border-width-small $border-width-small;
        */
        border-radius: $border-radius 0 0 $border-radius;
        background-color: inherit;
        color: $left-most-dark;
        font: $ui-size bold;
        &:hover {
            background-color: $placeholder-color;
        }
    }
}

.side-menu-closed {
    width: 4vw;
}

.side-menu-open {
    width: 33vw;
}

.side-menu-items {
    width: 80%;
    height: 100%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;

    transition-property: width;
    transition-duration: 200ms;
}

.side-menu-item {
    width: 100%;
    height: 100px;
    background-color: red;
}

.collapsed {
    width: 0;
}