// TODO: trim these font imports
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto+Mono&family=Ubuntu&display=swap');

$main-font: "Crete Round", serif;
$main-text-color: rgba(0, 0, 0, 90%);
$left-center: rgb(222, 255, 222);
$right-center: rgb(175, 235, 235);
$right-most: rgb(255, 222, 255);

@mixin halfwidth-menu {
    max-width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    font: 16px $main-font;
    color: $main-text-color;
    margin: 0;
}

.main-view {
    height: 100%;
    display: flex;
    align-items: stretch;
}

.my-monsters-main {
    @include halfwidth-menu();
    background-color: $left-center;
}

.my-monsters-aux {
    @include halfwidth-menu();
    background-color: $right-center;
}